header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  }
  
  header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
  }